*_PRIVATE.*
*_PRIV.*
*_PRIVATE.tsqy
*_PRIVATE.yaml
*.bak
*.gdoc

Raw_CSVs/*
!Raw_CSVs/sample_RAW_PUBLIC.csv
!Raw_CSVs/test_1_PUBLIC.csv
FM_CSVs/*
FM_Persistent/*
PP_Persistent/*
DC_Persistent/*
VS_Figures/*
VS_Persistent/*
!VS_Persistent/figs_PUBL.pkl

Catalogs/Catalog*
!Catalogs/Catalog_Audiobook.yaml
!Catalogs/Catalog_Food.yaml
!Catalogs/Catalog_Movie.yaml
!Catalogs/Catalog_Podcast.yaml
!Catalogs/Catalog_TVShow.yaml
!Catalogs/Catalog_SubjectMatter.yaml
!Catalogs/Catalog_*test5*.yaml
!Catalogs/Catalog_*test4*.yaml
Catalogs/Catalog_*_W.yaml
Catalogs/Catalog_Person*.yaml

tests/data/write/*
tests/PROFILE_*

**/__pycache__/*
*.pytest_cache/*
.ipynb_checkpoints/
**/.ipynb_checkpoints
*checkpoint.ipynb
tsqparser/testQueries_1.txt
Annotated_Excel/
.idea/
.vscode/
spec-list*.txt
Timesheet Analysis Outline.txt
desktop.ini